ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
li {
    float: left;
}


li a {
    text-decoration: none;
    color: #a1a9b3;
}

li a:hover {
    color: #00628a;
    border-top: 4px solid #00ade9;
    padding-top: 32px;
}

.nav-wrapper {
    height: 80px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}