* {
  background-color: #f8f9fa;
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

a {
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 0rem;
  line-height: 1.7; }

.App {
  height: 263px;
  border: 2px solid black; }
  .App__population {
    font-weight: bold; }
